{% extends 'base.html' %}

{% block title %}
    Add Note Page
{% endblock %}

{% block body %}
    <div class = "row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method = "post" id = "newNote">
                <div class="form-group">
                    <label for="university">University</label>
                    <input type="text" class="form-control" id="university" name = "university" placeholder="Suffolk University">
                </div>

                <div class="form-group">
                    <label for="class">Class</label>
                    <input type="text" class="form-control" id="class" name = "class" placeholder="Intro to Database Design">
                </div>

                <div class="form-group">
                    <label for="name">Name of the lecture</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Table joining">
                </div>

                
                
                <div class="form-group">
                    <label for="content">Note content</label>
                    <textarea class="form-control" id="content" name = "content" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input type = "submit" class = "btn btn-primary" value = "Add Note" />
                </div>
            </form>
            <p>
                You can use double dollar signs to parse LaTeX formulas. For example: <code>$$ D=\frac{\sqrt{b^2-4ac}}{2a} $$ </code> will result in $$D=\frac{\sqrt{b^2-4ac}}{2a}$$
            </p>
        </div>
        <div class="col-1"></div>
    </div>
    

{% endblock %}