{% extends 'base.html' %}

{% block title %}
    All users Page
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-lg-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Login</th>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in context['users'] %}
                            <tr>
                                <th scope="row">{{user[0]}}</th>
                                <td>{{user[1]}}</td>
                                <td>{{user[3]}}</td>
                                <td><a href = "{{url_for('user', login = user[1])}}" class = "btn btn-primary">View</a></td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
    

{% endblock %}